@import "~bootstrap/dist/css/bootstrap.min.css";
p {
  font-size: 14px;
  color: grey;
}

#errorMsg {
  background-color: white;
}
.invalid {
  border: 1px solid red;
  background-color: rgb(244, 198, 203);
}
